h1
{
    font-size: 30px;
    align-text: left;
    margin:30px 0px -20px 15px;
}

article
{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

article h2
{
    font-size: 30px;
    text-align: center;
}

.places ul
{
    list-style-type: none;
    text-align: center;
}

.places ul li
{
    display: inline-block;
}
